<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-list color="dark">
    <ion-list color="dark">
      <ion-item color="dark">
        <ion-input (ionInput)="emailInput($event)" label="Email" type="email" placeholder="email@domain.com"></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-input label="Password" type="password" value="password"></ion-input>
      </ion-item>
      <ion-item color="dark">
        <ion-button (click)="login()">
          Login
        </ion-button>
      </ion-item>


    </ion-list>
  </ion-list>
  {{emailText}}
</ion-content>