<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
<ion-searchbar (ionInput)="searchData($event)" search-icon="search-circle" 
placeholder="Emri"></ion-searchbar>
<app-cards [data]="data"></app-cards>
</ion-content>
