<ion-header [translucent]="true">
  <ion-toolbar [color]="color">
    <ion-title>
      {{geoData.organization_name}}
      <ion-spinner *ngIf="isGeoLoaded" 
      color="danger"></ion-spinner>
    </ion-title>
    <ion-icon (click)="kliko()" 
    name="star" slot="end" [color]="colorIcon">
  </ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [color]="color">
  <ion-button color="danger" (click)="getUni('Albania')">Shqiperi</ion-button>
  <ion-button (click)="getUni('Kosovo')">Kosove</ion-button>
  <ion-button (click)="getUni('Montenegro')">Mali i Zi</ion-button>
  <ion-button (click)="getUni('Croatia')">Kroaci</ion-button>
  <ion-button (click)="getUni('Turkey')">Turqi</ion-button>
  <ion-button (click)="getUni('Greece')">Greqi</ion-button>
  <ion-spinner *ngIf="isLoad || data.length == 0" color="danger"></ion-spinner>
  <app-cards [data]="data"></app-cards>
  <ion-button (click)="showMore()" color="danger" *ngIf="dataFromBackend.length >= limit">
    Me teper
  </ion-button>

  <a routerLink="/fruits">Game</a>
</ion-content>
