<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar type="number" (ionInput)="searchData($event)" search-icon="search-circle" 
  placeholder="Emri"></ion-searchbar>
  <app-cards-pokemon [data]="data"></app-cards-pokemon>
</ion-content>
