<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Prova {{counter}} - 
      Fitues ({{isWinner}}) 
      {{ratioWinner | number: '1.0-2'}}% .....  {{loses}} - {{earnings}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [color]="youAreWinner ? 'success': 'light'">
  <ion-range
  [min]="10"
  [max]="100"
  [value]="10"
  [pin]="true"
  [ticks]="true"
  [snaps]="true"
  [step]="10"
  (ionKnobMoveStart)="onIonKnobMoveStart($event)"
  (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"
></ion-range>
  <span *ngIf="img1?.img">
    <ion-button>
      <img width="50" [src]="img1?.img">
    </ion-button>
    <ion-button>
      <img width="50" [src]="img2?.img">
    </ion-button>
    <ion-button>
      <img width="50" [src]="img3?.img">
    </ion-button>
    <ion-button>
      <img width="50" [src]="img4?.img">
    </ion-button>
  </span>
  <ion-button (click)="generateFruits()">
    +
  </ion-button>
</ion-content>