img {
    width: 100px;
    background-position:'center center';
    background-repeat:'no-repeat';
    background-size:'cover';
}
ion-button {
    width: 100px;
    height: 100px;
}
ion-range::part(tick) {
    background: #a2d2ff;
  }
  
  ion-range::part(tick-active) {
    background: #bde0fe;
  }
  
  ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  
    background: #ffafcc;
    color: #fff;
  
    border-radius: 50%;
    transform: scale(1.01);
  
    top: -20px;
  
    min-width: 28px;
    height: 28px;
    transition: transform 120ms ease, background 120ms ease;
  }
  
  ion-range::part(pin)::before {
    content: none;
  }
  
  ion-range::part(knob) {
    background: #ffc8dd;
  }
  
  ion-range::part(bar) {
    background: #a2d2ff;
  }
  
  ion-range::part(bar-active) {
    background: #bde0fe;
  }
  ion-range{
    margin: -0.5rem 1rem;
  }