<ion-card *ngFor="let item of data">
  <ion-card-header>
    <ion-card-title>{{item.name || 
      (country_id[item.country_id] ? 
      country_id[item.country_id]: item.country_id) }}</ion-card-title>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    <ion-img [src]="data.image"></ion-img>
  </ion-card-header>

  <ion-card-content>{{(item.country) || ((item.probability * 100))}}  </ion-card-content>
</ion-card>